<div style="border-width: medium; border-style: solid;border-color: #00f; padding: 10px;"> 
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgmPmHMRQfi8YDwZazX11l7NYbZsQBIvIYxDmh6eZtvP2tKjcN6Q" style="float: right;" width=200px><br>
<h2 style="line-height: 0.7; ">TP1 de IBD</h2> 
<p style="line-height: 0.7;"> Professora: Mirella M. Moro</p>
<p style="line-height: 0.7;"> Aluno: Victor Hugo Faria Dias Magalhães</p>
<p style="line-height: 0.7;"> Matrícula: 2019055010 </p>
<h4>Matrícula = 2019 055010 -> Consultas = 1, 6, 7, 2, 3, 4 <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Logo_UFMG.png" style="float: right;" width=100px></h4>
<br>
<p>Notebook feito utilizando Python 3.7 no Ubuntu 18.04 LTS. Link para o <a href="https://github.com/victormagalhaess/TP1-IBD" target="_blank">repositório no github</a> </p>
</div>

In [1]:
import io
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('./SQL/conn_despesas_publicas_tp1.db')
cursor = conn.cursor()

In [3]:
#f = io.open('/home/victor/Desktop/IBD/SQL/despesas_publicas_tp1.sql', 'r', encoding = 'latin-1')
#sql = f.read()
#cursor.executescript(sql) 
#Só executar quando o banco precisa ser montado (1ª vez)

In [4]:
df = pd.read_sql_query("SELECT COD_FUNCAO, NOME_FUNCAO FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO WHERE NOME_SUBFUNCAO = (SELECT NOME_SUBFUNCAO FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO GROUP BY NOME_SUBFUNCAO ORDER BY COUNT(NOME_SUBFUNCAO) DESC LIMIT 1)", conn)
print('Consulta 1')
df

Consulta 1

   COD_FUNCAO        NOME_FUNCAO
0           5    Defesa nacional
1           6  Segurança pública
2          26         Transporte

In [5]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO NATURAL JOIN DESPESA_PUBLICA WHERE ANO_DESPESA = 2018 AND MES_DESPESA > 7 GROUP BY NOME_FUNCAO, NOME_SUBFUNCAO ORDER BY VALOR_TOTAL DESC", conn)
print("Consulta 6")
df

Consulta 6

,NOME_FUNCAO,NOME_SUBFUNCAO,VALOR_TOTAL
0,Educação,Educação básica,334126.70
1,Assistência social,Alimentação e nutrição,100373.55
2,Educação,Ensino profissional,7011.38
3,Educação,Ensino superior,2400.00
4,Saúde,Atenção básica,1000.00
5,Agricultura,Difusão do conhecimento científico e tecnológico,0.00
6,Agricultura,Promoção da produção agropecuária,0.00
7,Assistência social,Assistência comunitária,0.00
8,Assistência social,Educação infantil,0.00
9,Assistência social,Normatização e fiscalização,0.00
10,Assistência social,Tecnologia da informação,0.00
11,Ciência e Tecnologia,Desenvolvimento científico,0.00
12,Ciência e Tecnologia,Desenvolvimento tecnológico e engenharia,0.00
13,Defesa nacional,Administração geral,0.00
14,Defesa nacional,Defesa terrestre,0.00
15,Direitos da cidadania,Assistência ao portador de deficiência,0.00
16,Direitos da cidadania,Custódia e reintegração social,0.00
17,Direitos da cidadania,"Direitos individuais, coletivos e difusos",0.00
18,Educação,Assistência hospitalar e ambulatorial,0.00
19,Essencial à justiça,Comunicação social,0.00
20,Gestão ambiental,Recursos hídricos,0.00
21,Indústria,Promoção comercial,0.00
22,Organização agrária,Extensão rural,0.00
23,Organização agrária,Normatização e fiscalização,0.00
24,Organização agrária,Ordenamento territorial,0.00
25,Organização agrária,Reforma agrária,0.00
26,Saúde,Assistência hospitalar e ambulatorial,0.00
27,Saúde,Formação de recursos humanos,0.00
28,Segurança pública,Defesa civil,0.00
29,Segurança pública,Informação e inteligência,0.00
30,Segurança pública,Policiamento,0.00
31,Transporte,Administração geral,0.00
32,Urbanismo,Assistência comunitária,0.00

In [6]:
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, COUNT(DISTINCT NOME_ORGAO) AS NUMERO_ORGAOS_DISTINTOS FROM ORGAO NATURAL JOIN DESPESA_PUBLICA NATURAL JOIN PROGRAMA_GOVERNO WHERE VALOR_DESPESA > 0 GROUP BY NOME_PROGRAMA_GOVERNO", conn)
print("Consulta 7")
df

Consulta 7

     NOME_PROGRAMA_GOVERNO  NUMERO_ORGAOS_DISTINTOS
0       BRASIL SEM MISERIA                        2
1       CONTROLE DO CANCER                        1
2                     ENEM                        2
3             MAIS MEDICOS                        2
4                 PRONATEC                        1
5             REDE CEGONHA                        1
6  REGULARIZACAO FUNDIARIA                        1

In [7]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, AVG(VALOR_DESPESA) AS MEDIA_DESPESA_FUNCAO_SUBFUNCAO FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO NATURAL JOIN DESPESA_PUBLICA GROUP BY NOME_FUNCAO, NOME_SUBFUNCAO HAVING MEDIA_DESPESA_FUNCAO_SUBFUNCAO > 1000", conn)
print("Consulta 2")
df

Consulta 2

          NOME_FUNCAO          NOME_SUBFUNCAO  MEDIA_DESPESA_FUNCAO_SUBFUNCAO
0  Assistência social  Alimentação e nutrição                     1498.112687
1            Educação         Educação básica                     4398.185000
2            Educação     Ensino profissional                     1826.135152

In [8]:
df = pd.read_sql_query("SELECT DISTINCT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO WHERE ANO_DESPESA = 2018 ORDER BY VALOR_DESPESA DESC", conn)
print("Consulta 3")
df

Consulta 3

                                NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0                                                ENEM      334126.70
1                                  BRASIL SEM MISERIA       81120.13
2                                  CONTROLE DO CANCER       38971.19
3                                            PRONATEC       28073.08
4                                  BRASIL SEM MISERIA       19250.00
5                                            PRONATEC       18178.00
6                                        MAIS MEDICOS       11000.00
7                                  BRASIL SEM MISERIA        8215.70
8                                            PRONATEC        5900.00
9                                            PRONATEC        5000.00
10                                       MAIS MEDICOS        2400.00
11                                           PRONATEC        2000.00
12                            REGULARIZACAO FUNDIARIA        1497.26
13                                       REDE CEGONHA        1210.00
14                                       MAIS MEDICOS        1000.00
15                                           PRONATEC         726.00
16                                           PRONATEC         385.38
17                                               ENEM         135.36
18                                 BRASIL SEM MISERIA           3.42
19                                 BRASIL SEM MISERIA           0.00
20                              VIOLENCIA NO TRANSITO           0.00
21                           TERRITORIOS DA CIDADANIA           0.00
22                            REGULARIZACAO FUNDIARIA           0.00
23                               SEGURO RURAL PRIVADO           0.00
24                                   VIVER SEM LIMITE           0.00
25                             CIENCIA SEM FRONTEIRAS           0.00
26                               GESTAO AEROPORTUARIA           0.00
27                                 DESASTRES NATURAIS           0.00
28                                SATELITE (TELEBRAS)           0.00
29                                     MELHOR EM CASA           0.00
30                                       REDE CEGONHA           0.00
31                                 CONTROLE DO CANCER           0.00
32                                               ENEM           0.00
33                                       PROVA BRASIL           0.00
34                                           PRONATEC           0.00
35                                   CADEIAS PUBLICAS           0.00
36                           CRACK, E POSSIVEL VENCER           0.00
37                                       MAIS MEDICOS           0.00
38                             CRIMINALIDADE VIOLENTA           0.00
39                                         OLIMPIADAS           0.00
40                                             SINESP           0.00
41                                            ENAFRON           0.00
42                                     SOS EMERGENCIA           0.00
43                                                UBS           0.00
44  UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...           0.00
45  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...           0.00

In [9]:
df = pd.read_sql_query("SELECT DISTINCT MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO WHERE ANO_DESPESA = 2018 AND NOME_ORGAO = 'Ministério da Educação' AND MES_DESPESA < 7 ORDER BY VALOR_DESPESA DESC", conn)
print("Consulta 4")
df

Consulta 4

,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,NOME_PROGRAMA_GOVERNO,VALOR_DESPESA
0,5,2018,Reserva de Contingência,PRONATEC,28073.08
1,4,2018,Reserva de Contingência,PRONATEC,18178.00
2,1,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,PRONATEC,5000.00
3,1,2018,Reserva de Contingência,PRONATEC,2000.00
4,1,2018,Reserva de Contingência,REDE CEGONHA,1210.00
...,...,...,...,...,...
103,2,2018,Reserva de Contingência,MAIS MEDICOS,0.00
104,3,2018,Reserva de Contingência,MAIS MEDICOS,0.00
105,4,2018,Reserva de Contingência,MAIS MEDICOS,0.00
106,5,2018,Reserva de Contingência,MAIS MEDICOS,0.00
107,6,2018,Reserva de Contingência,MAIS MEDICOS,0.00

In [10]:
df = pd.read_sql_query("SELECT DISTINCT NOME_FUNCAO, VALOR_DESPESA FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN DESPESA_PUBLICA", conn)
print("Consulta 12")
df

Consulta 12

              NOME_FUNCAO  VALOR_DESPESA
0     Essencial à justiça           0.00
1         Defesa nacional           0.00
2       Segurança pública           0.00
3      Assistência social           0.00
4      Assistência social        8215.70
5      Assistência social           3.42
6      Assistência social       19250.00
7      Assistência social       81120.13
8                   Saúde           0.00
9                   Saúde        1000.00
10                  Saúde       11000.00
11                  Saúde        1210.00
12                  Saúde       38971.19
13               Trabalho           0.00
14               Educação           0.00
15               Educação         385.38
16               Educação         726.00
17               Educação        2000.00
18               Educação        5000.00
19               Educação        5900.00
20               Educação       18178.00
21               Educação       28073.08
22               Educação        2400.00
23               Educação         135.36
24               Educação      334126.70
25  Direitos da cidadania           0.00
26              Urbanismo           0.00
27       Gestão ambiental           0.00
28   Ciência e Tecnologia           0.00
29            Agricultura           0.00
30    Organização agrária           0.00
31    Organização agrária        1497.26
32              Indústria           0.00
33             Transporte           0.00

In [11]:
df = pd.read_sql_query("SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_ORGAO FROM ORGAO NATURAL JOIN DESPESA_PUBLICA WHERE MODALIDADE_DESPESA = 'Reserva de Contingência'", conn)
print("Consulta 13")
df

Consulta 13

,MODALIDADE_DESPESA,VALOR_DESPESA,NOME_ORGAO
0,Reserva de Contingência,0.00,Presidência da República
1,Reserva de Contingência,0.00,"Ministério da Agricultura, Pecuária e Abastec"
2,Reserva de Contingência,8215.70,"Ministério da Agricultura, Pecuária e Abastec"
3,Reserva de Contingência,3.42,"Ministério da Agricultura, Pecuária e Abastec"
4,Reserva de Contingência,81120.13,"Ministério da Agricultura, Pecuária e Abastec"
5,Reserva de Contingência,1497.26,"Ministério da Agricultura, Pecuária e Abastec"
6,Reserva de Contingência,0.00,"Ministério da Ciência, Tecnologia, Inovações"
7,Reserva de Contingência,0.00,Ministério da Fazenda
8,Reserva de Contingência,0.00,Ministério da Educação
9,Reserva de Contingência,1210.00,Ministério da Educação
10,Reserva de Contingência,135.36,Ministério da Educação
11,Reserva de Contingência,2000.00,Ministério da Educação
12,Reserva de Contingência,18178.00,Ministério da Educação
13,Reserva de Contingência,28073.08,Ministério da Educação
14,Reserva de Contingência,385.38,Ministério da Educação
15,Reserva de Contingência,5900.00,Ministério da Educação
16,Reserva de Contingência,2400.00,Ministério da Educação
17,Reserva de Contingência,0.00,Ministério da Justiça e Segurança Pública
18,Reserva de Contingência,0.00,Ministério das Relações Exteriores
19,Reserva de Contingência,0.00,Ministério da Saúde
20,Reserva de Contingência,38971.19,Ministério da Saúde
21,Reserva de Contingência,11000.00,Ministério da Saúde
22,Reserva de Contingência,1000.00,Ministério da Saúde
23,Reserva de Contingência,0.00,"Ministério dos Transportes, Portos e Aviação"
24,Reserva de Contingência,0.00,Ministério do Meio Ambiente
25,Reserva de Contingência,0.00,Ministério da Defesa
26,Reserva de Contingência,334126.70,Ministério da Defesa
27,Reserva de Contingência,19250.00,Ministério da Defesa
28,Reserva de Contingência,0.00,Ministério da Integração Nacional

In [12]:
df = pd.read_sql_query("SELECT DISTINCT VALOR_DESPESA, NOME_PROGRAMA_GOVERNO FROM DESPESA_PUBLICA NATURAL JOIN PROGRAMA_GOVERNO WHERE NOME_PROGRAMA_GOVERNO = 'ENEM'", conn)
print("Consulta 14")
df

Consulta 14

   VALOR_DESPESA NOME_PROGRAMA_GOVERNO
0           0.00                  ENEM
1         135.36                  ENEM
2      334126.70                  ENEM

In [13]:
df = pd.read_sql_query("SELECT DISTINCT NOME_PROGRAMA_GOVERNO, QTD_ORGAOS_SUBORDINADOS, VALOR_DESPESA FROM DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO WHERE NOME_ORGAO = 'Ministério da Educação'", conn)
print("Consulta 15")
df

Consulta 15

       NOME_PROGRAMA_GOVERNO  QTD_ORGAOS_SUBORDINADOS  VALOR_DESPESA
0           VIVER SEM LIMITE                      104           0.00
1             MELHOR EM CASA                      104           0.00
2               REDE CEGONHA                      104        1210.00
3               REDE CEGONHA                      104           0.00
4         CONTROLE DO CANCER                      104           0.00
5     CIENCIA SEM FRONTEIRAS                      104           0.00
6                       ENEM                      104           0.00
7                       ENEM                      104         135.36
8               PROVA BRASIL                      104           0.00
9                   PRONATEC                      104           0.00
10                  PRONATEC                      104        5000.00
11                  PRONATEC                      104         726.00
12                  PRONATEC                      104        2000.00
13                  PRONATEC                      104       18178.00
14                  PRONATEC                      104       28073.08
15                  PRONATEC                      104         385.38
16                  PRONATEC                      104        5900.00
17      GESTAO AEROPORTUARIA                      104           0.00
18        DESASTRES NATURAIS                      104           0.00
19          CADEIAS PUBLICAS                      104           0.00
20  TERRITORIOS DA CIDADANIA                      104           0.00
21  CRACK, E POSSIVEL VENCER                      104           0.00
22        BRASIL SEM MISERIA                      104           0.00
23   REGULARIZACAO FUNDIARIA                      104           0.00
24              MAIS MEDICOS                      104           0.00
25              MAIS MEDICOS                      104        2400.00